// @import './../../../../../assets/sass/layout/variables';

#kt_brand {
  h3 {
    color: #FFF;
    width: 100%;
  }
}
:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}
